<header class="header header-5">
    <div class="header-middle sticky-header">
        <div class="container-fluid">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

              

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <a href="/" class="logo">
                            <img src="/assets/images/new/icons8-J.png" alt="Audix Logo" width="70" height="18" style="padding-right: 20px;">
                        </a>
                        <li class="megamenu-container active">
                            <a href="/" style="padding-right: 10px;">Home</a>

                            
                        </li>
                        <li>
                            <a href="/products" class="sf-with-ul">Category &nbsp; &nbsp;</a>
                            
                            <ul style=" padding-right: 0; "> 
                           
                                <% listedCategory.forEach(value => { %>
                                    
                                    <li><a href="/category/<%= value.name %>"><%= value.name%></a></li>
                                    
                             <%  }); %>

                            </ul>

                                

                          
                        </li>
                        <li>
                            <a href="/products" style="padding-right: 18px;">Products</a>

                            
                        </li>
                        <li>
                            <a href="/contact" >Conatct</a>

                            
                        </li>
                        <li>
                            <a href="/About" >About</a>

                            
                        </li>
                     
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">

                
                <ul>
                    <li>
                    

            <a class="pt-2 " href="<%= locals.login ? '/profile' : '/login' %>" style="padding-right: 5px;color: #a5620c;">
                    <% if (locals.login) { %>
 
             <div class="user-icon-container ps-6" >
            
                   <a href="/profile"><img style="width: 40%;" src="assets/images/new/user.png" alt="User" class="user-icon  " ></a> 

                </div>
        
                <% } else { %>
                 Login
                <% } %>
                </a>

                    </li>
                </ul>
                
               
    
                  


                
                
                <a href="/wishlist" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="/cart" class="dropdown-toggle" role="button"  aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span id="cart" class="cart-count"></span>
                    </a>

                    <!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container-fluid -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->



<script>
     cartCount();

function cartCount(){

const cartt = document.getElementById('cart');

fetch('/cartCount' ,{method : 'post'}).then(res=>res.json()).then((data)=>{

    cartt.textContent = data.success || 0

});

}
</script>